<!DOCTYPE html>
<html>
<head>
    <title>Sensor Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>Environment Sensor Dashboard</h1>

    <div class="grid">
        <div class="card">
            <h2>Temperature</h2>
            <canvas id="tempChart"></canvas>
        </div>
        <div class="card">
            <h2>Humidity</h2>
            <canvas id="humChart"></canvas>
        </div>
        <div class="card">
            <h2>Pressure</h2>
            <canvas id="pressChart"></canvas>
        </div>
    </div>
    <label for="fetch-limit">Number of records:</label>
    <input type="number" id="fetch-limit" />

    <script type="text/javascript" src="{{url_for('static', filename='fetch.js')}}"></script>
</body>
</html>
